.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-container:hover {
  cursor:pointer
}

.guardar-icon {
  width: 25px;
  fill: blue; /* Esto funciona solo si el SVG se puede manipular con CSS */
}

.checkPlaylist{
  width: 2em;
  height: 2em;
  border-radius: 100%;
  border: 2px solid green; /* Para el borde del checkbox */
  appearance: none; /* Remueve el estilo por defecto del checkbox */
  -webkit-appearance: none; /* Remueve el estilo por defecto en Safari */
  -moz-appearance: none; /* Remueve el estilo por defecto en Firefox */
  outline: none;
}

.checkPlaylist:checked {
  background-color: green; /* Color de fondo cuando está chequeado */
}

.textop{
  font-size: 24px;
  color: white;
}